
.lecon-wraper{
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 45px 25px 35px 25px;
  font-family: Roboto;
  max-height: 85vh;
  overflow: hidden;
  overflow-y: visible;
}
.lecon-wraper::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background-color:#2D9CDB;
  top: 0;
  left: 0;
  /* transform: translateY(-100%); */
}
.cat{
  width: 90%;
  margin: 0 auto;
  color: #2D9CDB;
  margin-bottom: 20px;
  font-size: 32px;
  font-family: Roboto;
  margin-top: 50px;
}

/* COURS */
.online,
.offline{
  position: relative;
}
.online{
  /* cursor: not-allowed !important; */
}
.online::after{
  position: absolute;
  content: '';
  width: 62px;
  height: 41px;
  background-image: url(../img/dl_offline.png);
  background-size: cover;
  top: 50%;
  right: -72px;
  transform: translateY(-50%);
}
.offline::after{
  position: absolute;
  content: '';
  width: 62px;
  height: 41px;
  background-image: url(../img/dl_online.png);
  background-size: cover;
  top: 50%;
  right: -72px;
  transform: translateY(-50%);
}


/* Dropdown stuff */
.droper{
  background: #FFFFFF;
  border: 1px solid rgba(189, 189, 189, 0.7);
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  font-family: Roboto;
  padding: 10px 10px 10px 16px;
  margin-bottom: 13px;
  position: relative;
  cursor: pointer;
}
.lecons-dropdown{
  margin-bottom: 70px;
  max-height: 260px;
  transition: 0.8s ease;
  overflow: hidden;
}
.lecons-dropdown h3{
    background: #FFFFFF;
    border: 1px solid rgba(189, 189, 189, 0.7);
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    max-width: calc(100% - 72px);
    font-family: Roboto;
    padding: 10px 10px 10px 16px;
    margin-bottom: 15px;
    cursor: pointer;
}
.lecons-dropdown a{
  text-decoration: none;
  color: black;
}
.after_open::after{
  position: absolute;
  top: 50%;
  right: 20px;
  content: '';
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 10px;
  height: 10px;
  transform: translateY(-70%)rotate(-135deg);
  transition: 0.8s ease;
}
.after_closed::after{
  position: absolute;
  top: 50%;
  right: 20px;
  content: '';
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 10px;
  height: 10px;
  transform: translateY(-25%)rotate(45deg);
  transition: 0.8s ease;
}
.is_hidden{
  margin-bottom: 0px;
  max-height: 0;
  overflow: hidden;
}
